[build]
  publish = "bin/Release/net8.0/publish/wwwroot"
  command = "dotnet publish -c Release -o bin/Release/net8.0/publish"
  functions = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200